Repository prgrms-be-devcourse/NBE4-5-3-Team01, pull requests merged in 2025-04, with the labels that each got.

#11 refactor(10): kotlin setting
  .github/workflows/ci.yml
  backend/build.gradle.kts
  backend/settings.gradle.kts
  backend/src/main/java/com/team01/project/ProjectApplication.kt
  backend/src/main/resources/application.yml
Labels: 🔥 backend, ⚙️chore, ♻️ refactor

#9 feat(2): kotlin migration notification class
  backend/src/main/java/com/team01/project/domain/notification/constants/NotificationMessages.java
  backend/src/main/java/com/team01/project/domain/notification/constants/NotificationMessages.kt
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationController.kt
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationListController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationListController.kt
  backend/src/main/java/com/team01/project/domain/notification/controller/SubscriptionController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/SubscriptionController.kt
  backend/src/main/java/com/team01/project/domain/notification/dto/CreateNotificationReqBody.java
  backend/src/main/java/com/team01/project/domain/notification/dto/CreateNotificationReqBody.kt
  backend/src/main/java/com/team01/project/domain/notification/dto/ModifyNotificationReqBody.java
  backend/src/main/java/com/team01/project/domain/notification/dto/ModifyNotificationReqBody.kt
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationDto.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationDto.kt
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationListDto.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationListDto.kt
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationUpdateDto.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationUpdateDto.kt
  backend/src/main/java/com/team01/project/domain/notification/dto/SubscriptionDto.java
  backend/src/main/java/com/team01/project/domain/notification/dto/SubscriptionDto.kt
  backend/src/main/java/com/team01/project/domain/notification/entity/Notification.java
  backend/src/main/java/com/team01/project/domain/notification/entity/Notification.kt
  backend/src/main/java/com/team01/project/domain/notification/entity/NotificationList.java
  backend/src/main/java/com/team01/project/domain/notification/entity/NotificationList.kt
  backend/src/main/java/com/team01/project/domain/notification/entity/Subscription.java
  backend/src/main/java/com/team01/project/domain/notification/entity/Subscription.kt
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationFollowEvent.java
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationFollowEvent.kt
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationInitEvent.java
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationInitEvent.kt
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationRecordEvent.java
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationRecordEvent.kt
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationUpdatedEvent.java
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationUpdatedEvent.kt
  backend/src/main/java/com/team01/project/domain/notification/repository/NotificationListRepository.java
  backend/src/main/java/com/team01/project/domain/notification/repository/NotificationListRepository.kt
  backend/src/main/java/com/team01/project/domain/notification/repository/NotificationRepository.java
  backend/src/main/java/com/team01/project/domain/notification/repository/NotificationRepository.kt
  backend/src/main/java/com/team01/project/domain/notification/repository/SubscriptionRepository.java
  backend/src/main/java/com/team01/project/domain/notification/repository/SubscriptionRepository.kt
  backend/src/main/java/com/team01/project/domain/notification/service/CustomScheduledTask.java
  backend/src/main/java/com/team01/project/domain/notification/service/CustomScheduledTask.kt
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationListService.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationListService.kt
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationScheduler.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationScheduler.kt
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationSender.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationSender.kt
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationService.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationService.kt
  backend/src/main/java/com/team01/project/domain/notification/service/PushNotificationService.java
  backend/src/main/java/com/team01/project/domain/notification/service/PushNotificationService.kt
  backend/src/main/java/com/team01/project/global/config/AsyncConfig.java
  backend/src/main/java/com/team01/project/global/config/AsyncConfig.kt
  backend/src/main/java/com/team01/project/global/config/JpaConfig.java
  backend/src/main/java/com/team01/project/global/config/JpaConfig.kt
  backend/src/main/java/com/team01/project/global/config/SchedulingConfig.java
  backend/src/main/java/com/team01/project/global/config/SchedulingConfig.kt
Labels: 🔥 backend, ✨ feat, ♻️ refactor

#13 Feat(1): kotlin migration 진행 user 패키지
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.kt
  backend/src/main/java/com/team01/project/domain/user/dto/UserDto.java
  backend/src/main/java/com/team01/project/domain/user/dto/UserDto.kt
  backend/src/main/java/com/team01/project/domain/user/entity/RefreshToken.java
  backend/src/main/java/com/team01/project/domain/user/entity/RefreshToken.kt
  backend/src/main/java/com/team01/project/domain/user/entity/User.java
  backend/src/main/java/com/team01/project/domain/user/entity/User.kt
  backend/src/main/java/com/team01/project/domain/user/repository/RefreshTokenRepository.java
  backend/src/main/java/com/team01/project/domain/user/repository/RefreshTokenRepository.kt
  backend/src/main/java/com/team01/project/domain/user/repository/UserRepository.java
  backend/src/main/java/com/team01/project/domain/user/repository/UserRepository.kt
  backend/src/main/java/com/team01/project/domain/user/service/CustomOAuth2UserService.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomOAuth2UserService.kt
  backend/src/main/java/com/team01/project/domain/user/service/UserService.java
  backend/src/main/java/com/team01/project/domain/user/service/UserService.kt
Labels: 🔥 backend, ✨ feat, ♻️ refactor

#17 refactor(16): global file kt migration
  backend/src/main/java/com/team01/project/domain/notification/entity/Notification.kt
  backend/src/main/java/com/team01/project/domain/notification/entity/NotificationList.kt
  backend/src/main/java/com/team01/project/domain/notification/entity/Subscription.kt
  backend/src/main/java/com/team01/project/global/app/AppConfig.java
  backend/src/main/java/com/team01/project/global/app/AppConfig.kt
  backend/src/main/java/com/team01/project/global/aspect/ResponseAspect.java
  backend/src/main/java/com/team01/project/global/aspect/ResponseAspect.kt
  backend/src/main/java/com/team01/project/global/security/SecurityConfig.java
Labels: 🔥 backend, ♻️ refactor

#18 refactor(15): 음악 기록 도메인 Kotlin 마이그레이션
  backend/src/main/java/com/team01/project/domain/calendardate/controller/CalendarDateController.kt
  backend/src/main/java/com/team01/project/domain/calendardate/extension/CalendarDateExtensions.kt
  backend/src/main/java/com/team01/project/domain/musicrecord/controller/MusicRecordController.java
  backend/src/main/java/com/team01/project/domain/musicrecord/controller/MusicRecordController.kt
  backend/src/main/java/com/team01/project/domain/musicrecord/controller/dto/MusicRecordDto.java
  backend/src/main/java/com/team01/project/domain/musicrecord/controller/dto/MusicRecordDto.kt
  backend/src/main/java/com/team01/project/domain/musicrecord/entity/MusicRecord.java
  backend/src/main/java/com/team01/project/domain/musicrecord/entity/MusicRecord.kt
  backend/src/main/java/com/team01/project/domain/musicrecord/entity/MusicRecordId.java
  backend/src/main/java/com/team01/project/domain/musicrecord/entity/MusicRecordId.kt
  backend/src/main/java/com/team01/project/domain/musicrecord/repository/MusicRecordRepository.java
  backend/src/main/java/com/team01/project/domain/musicrecord/repository/MusicRecordRepository.kt
  backend/src/main/java/com/team01/project/domain/musicrecord/service/MusicRecordService.java
  backend/src/main/java/com/team01/project/domain/musicrecord/service/MusicRecordService.kt
Labels: 🔥 backend, ♻️ refactor

#23 feat(19): Music Player 무료 계정 처리
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.kt
  frontend/src/app/calendar/[id]/page.tsx
  frontend/src/app/calendar/spotify-player/free/page.tsx
  frontend/src/app/calendar/spotify-player/premium/page.tsx
  frontend/src/app/calendar/spotify-player/premium/player.ts
  frontend/src/app/notifications/configure/page.tsx
  frontend/src/app/notifications/edit/page.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/types/notification.ts
Labels: 🔥 backend, 🌈 frontend, ✨ feat

#26 [Feat] 글로벌( 시큐리티, config ), 유저 메일 관련 코틀린 변환
  backend/src/main/java/com/team01/project/domain/user/controller/HandleSpotifyController.java
  backend/src/main/java/com/team01/project/domain/user/controller/HandleSpotifyController.kt
  backend/src/main/java/com/team01/project/domain/user/controller/UserEmailController.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserEmailController.kt
  backend/src/main/java/com/team01/project/domain/user/dto/UserDto.kt
  backend/src/main/java/com/team01/project/domain/user/entity/User.kt
  backend/src/main/java/com/team01/project/domain/user/service/CustomUserDetailsService.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomUserDetailsService.kt
  backend/src/main/java/com/team01/project/domain/user/service/SpotifyRefreshTokenService.java
  backend/src/main/java/com/team01/project/domain/user/service/SpotifyRefreshTokenService.kt
  backend/src/main/java/com/team01/project/domain/user/service/UserEmailService.java
  backend/src/main/java/com/team01/project/domain/user/service/UserEmailService.kt
  backend/src/main/java/com/team01/project/domain/user/service/UserService.kt
  backend/src/main/java/com/team01/project/global/config/SwaggerConfig.java
  backend/src/main/java/com/team01/project/global/config/SwaggerConfig.kt
  backend/src/main/java/com/team01/project/global/security/JwtTokenFilter.java
  backend/src/main/java/com/team01/project/global/security/JwtTokenFilter.kt
  backend/src/main/java/com/team01/project/global/security/JwtTokenProvider.java
  backend/src/main/java/com/team01/project/global/security/JwtTokenProvider.kt
  backend/src/main/java/com/team01/project/global/security/OAuth2SuccessHandler.java
  backend/src/main/java/com/team01/project/global/security/OAuth2SuccessHandler.kt
  backend/src/main/java/com/team01/project/global/security/SecurityConfig.java
  backend/src/main/java/com/team01/project/global/security/SecurityConfig.kt
  backend/src/test/java/com/team01/project/user/security/JwtTokenProviderTest.java
Labels: 🔥 backend, ♻️ refactor

#25 refactor(20): 예외 처리 Kotlin 마이그레이션
  backend/src/main/java/com/team01/project/global/exception/CalendarDateAlreadyExistsException.java
  backend/src/main/java/com/team01/project/global/exception/CalendarDateAlreadyExistsException.kt
  backend/src/main/java/com/team01/project/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/team01/project/global/exception/GlobalExceptionHandler.kt
  backend/src/main/java/com/team01/project/global/exception/PermissionDeniedException.java
  backend/src/main/java/com/team01/project/global/exception/PermissionDeniedException.kt
Labels: 🔥 backend, ♻️ refactor

#27 refactor(21): 캘린더 권한 도메인 Kotlin 마이그레이션
  backend/src/main/java/com/team01/project/domain/user/entity/CalendarVisibility.java
  backend/src/main/java/com/team01/project/domain/user/entity/CalendarVisibility.kt
  backend/src/main/java/com/team01/project/global/permission/CalendarPermission.java
  backend/src/main/java/com/team01/project/global/permission/CalendarPermission.kt
  backend/src/main/java/com/team01/project/global/permission/PermissionService.java
  backend/src/main/java/com/team01/project/global/permission/PermissionService.kt
Labels: 🔥 backend, ♻️ refactor

#30 refactor(29): Default method를 Extension function으로 분리
  backend/src/main/java/com/team01/project/domain/calendardate/controller/CalendarDateController.kt
  backend/src/main/java/com/team01/project/domain/calendardate/entity/CalendarDateExtensions.kt
  backend/src/main/java/com/team01/project/domain/calendardate/extension/CalendarDateExtensions.kt
  backend/src/main/java/com/team01/project/domain/calendardate/repository/CalendarDateRepository.kt
  backend/src/main/java/com/team01/project/domain/calendardate/repository/CalendarDateRepositoryExtensions.kt
  backend/src/main/java/com/team01/project/domain/calendardate/service/CalendarDateService.kt
  backend/src/main/java/com/team01/project/domain/follow/service/CommandFollowService.kt
  backend/src/main/java/com/team01/project/domain/follow/service/QueryFollowService.kt
  backend/src/main/java/com/team01/project/domain/music/repository/MusicRepository.kt
  backend/src/main/java/com/team01/project/domain/music/repository/MusicRepositoryExtensions.kt
  backend/src/main/java/com/team01/project/domain/music/service/MusicService.kt
  backend/src/main/java/com/team01/project/domain/musicrecord/service/MusicRecordService.kt
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.kt
  backend/src/main/java/com/team01/project/domain/user/repository/UserRepository.kt
  backend/src/main/java/com/team01/project/domain/user/repository/UserRepositoryExtensions.kt
  backend/src/main/java/com/team01/project/domain/user/service/UserService.kt
Labels: 🔥 backend, ♻️ refactor

#32 feat(5): MemberShip 구현
  backend/src/main/java/com/team01/project/domain/music/controller/MusicController.kt
  backend/src/main/java/com/team01/project/domain/music/dto/MusicRequest.kt
  backend/src/main/java/com/team01/project/domain/music/dto/SpotifyArtistResponse.kt
  backend/src/main/java/com/team01/project/domain/music/dto/SpotifyPlaylistResponse.kt
  backend/src/main/java/com/team01/project/domain/music/dto/SpotifyTrackResponse.kt
  backend/src/main/java/com/team01/project/domain/music/service/MusicService.kt
  backend/src/main/java/com/team01/project/domain/music/service/SpotifyService.kt
  backend/src/main/java/com/team01/project/domain/user/controller/MembershipController.kt
  backend/src/main/java/com/team01/project/domain/user/dto/MembershipDto.kt
  backend/src/main/java/com/team01/project/domain/user/entity/Membership.kt
  backend/src/main/java/com/team01/project/domain/user/entity/User.kt
  backend/src/main/java/com/team01/project/domain/user/scheduler/MembershipScheduler.kt
  backend/src/main/java/com/team01/project/domain/user/service/MembershipService.kt
  backend/src/main/java/com/team01/project/global/exception/GlobalExceptionHandler.kt
  backend/src/main/java/com/team01/project/global/exception/MembershipException.kt
  frontend/package-lock.json
  frontend/package.json
  frontend/public/preview/recap.png
  frontend/public/preview/recommend.png
  frontend/src/app/admin/membership/MembershipTable.tsx
  frontend/src/app/admin/membership/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/calendar/record/MemoInput.tsx
  frontend/src/app/calendar/record/MusicList.tsx
  frontend/src/app/calendar/record/page.tsx
  frontend/src/app/membership/PricingPage.tsx
  frontend/src/app/membership/SubscriptionPage.tsx
  frontend/src/app/membership/page.tsx
  frontend/src/app/membership/payment/page.tsx
  frontend/src/app/membership/style.css
  frontend/src/app/music/PlaylistSection.tsx
  frontend/src/app/music/PlaylistTrackTable.tsx
  frontend/src/app/music/page.tsx
  frontend/src/app/user/recap/page.tsx
  frontend/src/components/AlertModal.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/dialog.tsx
Labels: 🔥 backend, 🌈 frontend, ✨ feat, ♻️ refactor

#37 feat(24): 알림 추가, 스포티파이 최근 재생 기록 등록
  backend/src/main/java/com/team01/project/domain/music/controller/MusicController.kt
  backend/src/main/java/com/team01/project/domain/notification/constants/NotificationMessages.kt
  backend/src/main/java/com/team01/project/domain/notification/entity/Notification.kt
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationScheduler.kt
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationService.kt
  backend/src/main/resources/application.yml
  frontend/src/app/calendar/[id]/page.tsx
  frontend/src/app/calendar/record/MemoInput.tsx
  frontend/src/app/calendar/record/MusicList.tsx
  frontend/src/app/calendar/record/MusicSearch.tsx
  frontend/src/app/calendar/record/RecentlyPlayedList.tsx
  frontend/src/app/calendar/record/page.tsx
  frontend/src/app/calendar/record/style.css
  frontend/src/app/calendar/spotify-player/premium/page.tsx
  frontend/src/app/notifications/configure/page.tsx
  frontend/src/app/notifications/edit/page.tsx
  frontend/src/app/utils/getSpotifyAccessToken.ts
  frontend/src/app/utils/spotifyApi.ts
Labels: 🔥 backend, 🌈 frontend, ✨ feat, 🐛bug, ♻️ refactor

#40 feat(38): Notification Test code work
  backend/src/main/java/com/team01/project/domain/notification/scheduler/CustomScheduledTask.kt
  backend/src/main/java/com/team01/project/domain/notification/scheduler/NotificationScheduler.kt
  backend/src/main/java/com/team01/project/domain/notification/scheduler/NotificationSender.kt
  backend/src/test/java/com/team01/project/notification/controller/NotificationControllerTest.kt
  backend/src/test/java/com/team01/project/notification/controller/NotificationListControllerTest.kt
  backend/src/test/java/com/team01/project/notification/service/NotificationListServiceTest.kt
  backend/src/test/java/com/team01/project/notification/service/NotificationServiceTest.kt
Labels: 🔥 backend, ✨ feat

#44 refactor(43): 프론트 리팩토링
  backend/src/main/java/com/team01/project/domain/user/controller/UserEmailController.kt
  backend/src/main/java/com/team01/project/domain/user/service/UserEmailService.kt
  frontend/src/app/calendar/record/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/signup/page.tsx
  frontend/src/components/calendar/Calendar.tsx
  frontend/src/components/style/calendar.css
Labels: 🌈 frontend, ♻️ refactor

#45 feat(34): 결제 시스템 구현
  backend/src/main/java/com/team01/project/domain/payment/controller/PaymentController.kt
  backend/src/main/java/com/team01/project/domain/payment/dto/TossPaymentRequest.kt
  backend/src/main/java/com/team01/project/domain/payment/dto/TossPaymentResponse.kt
  backend/src/main/java/com/team01/project/domain/payment/dto/TossSubscriptionRequest.kt
  backend/src/main/java/com/team01/project/domain/payment/dto/TossSubscriptionResponse.kt
  backend/src/main/java/com/team01/project/domain/payment/scheduler/AutoBilling.kt
  backend/src/main/java/com/team01/project/domain/payment/service/TossService.kt
  backend/src/main/java/com/team01/project/domain/user/controller/MembershipController.kt
  backend/src/main/java/com/team01/project/domain/user/entity/Membership.kt
  backend/src/main/java/com/team01/project/domain/user/entity/User.kt
  backend/src/main/java/com/team01/project/domain/user/scheduler/MembershipScheduler.kt
  backend/src/main/java/com/team01/project/domain/user/service/MembershipService.kt
  backend/src/main/resources/application.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/membership/payment/fail/page.tsx
  frontend/src/app/membership/payment/page.tsx
  frontend/src/app/membership/payment/success/page.tsx
  frontend/src/middleware.ts
Labels: 🔥 backend, 🌈 frontend, ✨ feat

#41 refactor(31): 테스트 코드 Kotlin 마이그레이션
  backend/build.gradle.kts
  backend/src/test/java/com/team01/project/calendardate/service/CalendarDateServiceTest.java
  backend/src/test/java/com/team01/project/calendardate/service/CalendarDateServiceTest.kt
  backend/src/test/java/com/team01/project/musicrecord/service/MusicRecordServiceTest.java
  backend/src/test/java/com/team01/project/musicrecord/service/MusicRecordServiceTest.kt
  backend/src/test/java/com/team01/project/permission/service/PermissionServiceTest.java
  backend/src/test/java/com/team01/project/permission/service/PermissionServiceTest.kt
  backend/src/test/java/com/team01/project/util/TestDisplayNameGenerator.kt
  backend/src/test/resources/kotest.properties
Labels: 🔥 backend, ♻️ refactor

#48 refactor(33): Music 예외 처리 리팩토링
  backend/src/main/java/com/team01/project/domain/music/controller/MusicController.kt
  backend/src/main/java/com/team01/project/domain/music/service/MusicService.kt
  backend/src/main/java/com/team01/project/domain/music/service/SpotifyService.kt
  backend/src/main/java/com/team01/project/global/exception/GlobalExceptionHandler.kt
  backend/src/main/java/com/team01/project/global/exception/MusicException.kt
  backend/src/main/java/com/team01/project/global/exception/SpotifyApiException.kt
  frontend/next.config.ts
  frontend/src/app/music/MoodTracks.tsx
  frontend/src/app/music/PlaylistSection.tsx
  frontend/src/app/music/PlaylistTrackTable.tsx
  frontend/src/app/music/RecentTracks.tsx
  frontend/src/app/music/page.tsx
  frontend/src/components/AlertModal.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/lib/useHandleApiError.ts
Labels: 🔥 backend, 🌈 frontend, ♻️ refactor

#54 refactor(52): 알림 테스트 코드 리팩토링
  backend/src/test/java/com/team01/project/ProjectApplicationTests.java
  backend/src/test/java/com/team01/project/ProjectApplicationTests.kt
  backend/src/test/java/com/team01/project/notification/service/NotificationServiceTest.kt
Labels: 🔥 backend, ♻️ refactor

#55 refactor(53): 유저 도메인 DTO Kotlin 마이그레이션
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.kt
  backend/src/main/java/com/team01/project/domain/user/dto/CalendarVisibilityUpdateRequest.java
  backend/src/main/java/com/team01/project/domain/user/dto/CalendarVisibilityUpdateRequest.kt
  backend/src/main/java/com/team01/project/domain/user/dto/SimpleUserResponse.java
  backend/src/main/java/com/team01/project/domain/user/dto/SimpleUserResponse.kt
  frontend/src/app/follow/page.tsx
Labels: 🔥 backend, ♻️ refactor

#59 refactor(42): 서비스 테스트 코드 리팩토링 및 케이스 추가
  backend/src/main/java/com/team01/project/domain/user/controller/SpotifyConnectController.kt
  backend/src/main/java/com/team01/project/domain/user/service/SpotifyLinkService.kt
  backend/src/test/java/com/team01/project/calendardate/fixture/CalendarDateFixture.kt
  backend/src/test/java/com/team01/project/calendardate/service/CalendarDateServiceTest.kt
  backend/src/test/java/com/team01/project/music/fixture/MusicFixture.kt
  backend/src/test/java/com/team01/project/musicrecord/fixture/MusicRecordFixture.kt
  backend/src/test/java/com/team01/project/musicrecord/service/MusicRecordServiceTest.kt
  backend/src/test/java/com/team01/project/permission/service/PermissionServiceTest.kt
  backend/src/test/java/com/team01/project/user/entity/UserFixture.kt
  backend/src/test/java/com/team01/project/user/service/SpotifyLinkServiceTest.kt
  frontend/src/app/user/spotify-callback/page.tsx
Labels: 🔥 backend, ✨ feat, ♻️ refactor, 🧪 test

#56 refactor(46): Music 테스트 코드 리팩토링
  backend/src/test/java/com/team01/project/music/controller/MusicControllerTest.java
  backend/src/test/java/com/team01/project/music/controller/MusicControllerTest.kt
  backend/src/test/java/com/team01/project/music/service/MusicServiceTest.kt
  backend/src/test/java/com/team01/project/music/service/SpotifyServiceTest.java
  backend/src/test/java/com/team01/project/music/service/SpotifyServiceTest.kt
  frontend/src/app/follow/page.tsx
Labels: 🔥 backend, ♻️ refactor, 🧪 test

#58 feat(49): 구독 시스템 테스트 코드 작성
  backend/src/test/java/com/team01/project/membership/controller/MembershipControllerTest.kt
  backend/src/test/java/com/team01/project/membership/scheduler/MembershipSchedulerTest.kt
  backend/src/test/java/com/team01/project/membership/service/MembershipServiceTest.kt
Labels: 🔥 backend, ✨ feat, 🧪 test

#60 feat(50): 결제 시스템 테스트 코드 작성
  backend/build.gradle.kts
  backend/src/main/java/com/team01/project/domain/payment/scheduler/AutoBilling.kt
  backend/src/main/java/com/team01/project/domain/payment/service/TossService.kt
  backend/src/test/java/com/team01/project/payment/controller/PaymentControllerTest.kt
  backend/src/test/java/com/team01/project/payment/controller/PaymentControllerTestConfig.kt
  backend/src/test/java/com/team01/project/payment/scheduler/AutoBillingTest.kt
  backend/src/test/java/com/team01/project/payment/service/TossServiceTest.kt
Labels: 🔥 backend, ✨ feat, ⚙️ chore, 🧪 test

#66 Refator(61): Music 오류 리팩토링
  frontend/src/app/calendar/record/page.tsx
  frontend/src/app/membership/PricingPage.tsx
  frontend/src/app/membership/payment/page.tsx
  frontend/src/app/music/PlaylistSection.tsx
  frontend/src/app/music/page.tsx
Labels: 🌈 frontend, 🐛 bug, ♻️ refactor

#65 refactor(62): 팔로잉 알림 리팩토링
  backend/src/main/java/com/team01/project/domain/follow/service/CommandFollowService.kt
  backend/src/main/java/com/team01/project/domain/notification/constants/NotificationMessages.kt
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationFollowAcceptEvent.kt
  backend/src/main/java/com/team01/project/domain/notification/scheduler/NotificationScheduler.kt
  frontend/.env.local
  frontend/src/app/layout.tsx
  frontend/src/app/notifications/configure/page.tsx
  frontend/src/app/notifications/edit/page.tsx
Labels: 🔥 backend, ♻️ refactor

#68 feat(67): 조회 권한이 없는 캘린더 접근 시 Alert Modal 띄우기
  frontend/src/app/calendar/[id]/page.tsx
  frontend/src/components/AlertModal.tsx
  frontend/src/components/calendar/Calendar.tsx
  frontend/src/hooks/useModal.tsx
Labels: 🌈 frontend, ✨ feat
